.project-discussion {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('images/project-discussion-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 140px var(--spacing-base);
}

.project-discussion__content {
    background-color: var(--color-white);
    border-radius: 24px;
    padding: var(--spacing-4xl);
}

.project-discussion__title {
    text-align: center;
    color: var(--color-primary);
    margin-bottom: var(--spacing-sm);
}

.project-discussion__subtitle {
    text-align: center;
    font-size: var(--text-2xl);
    font-weight: var(--font-medium);
    line-height: 40px;
    margin-bottom: var(--spacing-sm);
}

.project-discussion__description {
    text-align: center;
    color: var(--color-secondary);
    margin-bottom: var(--spacing-lg);
    margin: 0 auto var(--spacing-lg) auto;
    max-width: 525px;
}

.project-discussion__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-base);
}