.main-title-price-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.main-title-price-page h1 {
    padding-bottom: 8px;
}

.main-title-price-page p {
    color: var(--color-secondary);
    max-width: 444px;
    text-align: center;
    padding-bottom: 40px;
}


@media (max-width: 670px) {
    .main-title-price-page {
        padding: 20px;
    }

    
}