.header {
  margin: var(--spacing-base);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-base) var(--spacing-xl);
  background: var(--color-background);
  border-radius: 50px;
}

.header-nav {
  flex-basis: 50%;
}

.header-nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-lg);

}

.header-nav ul li:hover {
  text-decoration: underline;
}

.header-logo {
  font-size: var(--text-lg);
  font-weight: var(--text-medium);
  flex-basis: 25%;
}

.header-actions {
  flex-basis: 25%;
}

.header-actions button {
  margin-left: auto;
}

.menu-header-button {
  display: none;
}

@media(max-width: 960px) {

  .header-nav,
  .telegram-header-button {
    display: none;
  }

  .menu-header-button {
    display: flex;
    padding: var(--spacing-sm);
    background-color: transparent;
    border: none;
    transition: all 0.3s ease-in-out;
  }

  .menu-header-button:hover {
    cursor: pointer;
    border: 1px solid rgb(48, 30, 124);
    border-radius: 5px;
  }

  .header-logo,
  .header-actions {
    flex-basis: initial;
  }



  .mobile-menu.open {
    display: block;
  }
}

/* Mobile menu */

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-background);
  width: 100vw;
  height: 100vh;
  z-index: 99;
}


.mobile-menu__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: var(--spacing-lg) var(--spacing-base);
}

.mobile-nav ul {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2xl);
  font-weight: var(--font-medium);
  font-size: var(--text-lg);
  text-align: center;
  padding: var(--spacing-3xl) 0;
  margin: 0;
}

.mobile-menu .close-button {
  display: inline-flex;
  margin-left: auto;
  border: none;
}

.mobile-menu .close-button:hover {
  cursor: pointer;
}