.footer {
    background-color: var(--color-background-dark);
    color: var(--color-white);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-xl) var(--spacing-base);
}

.footer-content ul {
    display: flex;
    align-items: center;
    gap: var(--spacing-base);
    margin: 0;
}

@media (max-width:670px) {
    .footer-content {
        padding: var(--spacing-lg) var(--spacing-base);
    }
}
