.blog-page-main {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding-bottom: 60px;
}

@media (max-width: 890px) {
    .blog-page-main {
        flex-direction: column;
        padding-left: 8px;
        padding-right: 8px;
    }
}